@model Assignment2.Models.Order

@{
    ViewData["Title"] = "Details";
}

<script src="~/lib/angular/angular.min.js"></script>
<script src="~/app/OrderDetailApp.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<h2>Details</h2>

<div ng-app="OrderDetailApp" ng-controller="OrderDetailController">
    <h4>Order</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Order ID
                </th>
                <th>
                    Store ID
                </th>
                <th>
                    Product ID
                </th>
                <th>
                    Quantity
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in orderItems" | filter : searchStudent>
                <td>{{ item.orderID}}</td>
                <td>{{ item.storeID}}</td>
                <td>{{ item.productID}}</td>
                <td>{{ item.quantity}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
