@model IEnumerable<Assignment2.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<script src="~/lib/angular/angular.min.js"></script>
<script src="~/app/OrderApp.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<div ng-app="OrderApp" ng-controller="OrderController">
    <h3>Orders</h3>
    <hr>
    <button class="btn btn-success" ng-click="ViewOrder('new')">
        <span class="glyphicon glyphicon-user"></span>  Create New Order
    </button>

    <hr>
    <h3 ng-show="view">Create New Order:</h3>

    <input type="text" placeholder="Search Student" ng-model="searchStudent" />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Order Date</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="order in orders" | filter : searchStudent>
                <td>{{ order.orderID}}</td>
                <td>{{ order.orderDate}}</td>
                <td>
                    <button class="btn" ng-click="ViewOrder(order.id)">
                        <span>View</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
