@model IEnumerable<Assignment2.Models.Store>

@{
    ViewData["Title"] = "Customer";
}

<h2>Display All Stores</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Store ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.StoreID">Display Inventory</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="ShoppingCarts" asp-action="Index">Shopping Cart</a>
</div>

